urxvt*transparent:true
urxvt*shading: 7
urxvt*scrollBar:false
urxvt*font:xft:Dejavu Sans Mono:size=11
urxvt*letterSpace: -1

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! special
*.foreground:   #dddddd
*.background:   #2f343f
*.cursorColor:  #dddddd

! black
*.color0:       #3e4044
*.color8:       #3e4044

! red
*.color1:       #ff2100
*.color9:       #ff2100

! green
*.color2:       #c9ff00
*.color10:      #c9ff00

! yellow
*.color3:       #ff8c00
*.color11:      #ff8c00

! blue
*.color4:       #008aff
*.color12:      #008aff

! magenta
*.color5:       #ff00fd
*.color13:      #ff00fd

! cyan
*.color6:       #00ffce
*.color14:      #00ffce

! white
*.color7:       #dddddd
*.color15:      #dddddd
